@font-face {
    font-family: vazir;
    src: url(fonts/Vazir-Regular.woff) format("woff");
}

* {
    font-family: "vazir";

}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #1d201b;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "vazir";
}

.game {
    background-color: #323431;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    border-radius: 7px;

}

@media screen and (max-width: 800px) {
    .game {
        width: 90%;
        margin: 0 auto;
    }
}

.name-header {
    color: #eca93a;
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 32pt;
}

.score-game {
    display: flex;
    justify-content: space-around;
}

.num-comp-text {
    border-radius: 8px;
    background-color: #424542;
    color: #f6f9f5;
    padding: 6px 10px;
    font-size: 17pt;
}

.num-clin-text {
    border-radius: 8px;
    background-color: #424542;
    color: #f6f9f5;
    padding: 6px 10px;
    font-size: 17pt;
}

.num-comp {}

.num-clin {}

.time-box {
    text-align: center;
    margin-top: 60px;
}

.current-time {
    border-radius: 8px;
    background-color: #424542;
    color: #f6f9f5;
    padding: 6px 10px;
    font-size: 21pt;
    vertical-align: middle;
}

.current-time-num {}

.icons-game {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.style-icon {
    font-size: 36pt;
    user-select: none;
    color: #e6e9e5;
    margin: 0 5px;
}

.style-icon-person {
    font-size: 36pt;
    user-select: none;
    color: #e6e9e5;
    position: fixed;
    margin: 0 5px;
}

.style-icon-button {
    border-radius: 8px;
    background-color: #424542;
    padding: 6px 12px;
    font-size: 28pt;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;
}

.style-icon-button:hover {
    background-color: #5c5446;
    transition: all 0.3s;
}

.game-flow {
    margin: 10px;
    margin-top: 20px;
}

.result-game {
    color: #e6e9e5;
}

.btm-reset-game {
    background-color: #da4a29;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 14pt;
    margin: 12px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    color: #fee1d6;
    transition: all 0.2s;
}

.btm-reset-game:hover {
    background-color: #8e3b29;
    transition: all 0.2s;
}

.btm-reset-point {
    background-color: #29a8da;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 14pt;
    margin: 12px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    color: #fee1d6;
    transition: all 0.2s;
}

.btm-reset-point:hover {
    background-color: #496195;
    transition: all 0.2s;
}

.even {
    color: #eca93a;
    border: 1px solid #eca93a;
    border-radius: 10px;
    padding: 5px 10px;
}

.win {
    color: #22bb33;
    border: 1px solid #22bb33;
    border-radius: 10px;
    padding: 5px 10px;
}

.lose {
    color: #f22d30;
    border: 1px solid #bb2124;
    border-radius: 10px;
    padding: 5px 10px;
}

.hide {
    display: none;
    pointer-events: none;
}

.show {
    display: block;
    pointer-events: unset;
}

.winer-border {
    border: 1px solid #fff;

}